/*common shared style*/
body{
    font-family: 'lato', sans-serif;
    font-family: 'open sans', 'sans-serif';
}
.btn-primary{
    background: rgb(227, 93, 93);
    border-radius: 5px;
    border: 0;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}
 .section-title{
    color: rgb(73, 71, 68);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
 }
 .section-description{
    color: rgb(71, 64, 64);
    text-align: center;
    font-size: 18px;
}

.text-primary{
    color: rgb(11, 103, 241);
} 


/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title {
    color:rgb(80, 84, 32);
    font-size: 100px;;
    font-weight:800;
    margin-top: 5px;
}
nav>ul{
display: flex;
align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: rgb(71, 70, 70);
}
/* header related styles*/
.header{
    background-color: rgb(216, 238, 246);
    margin-top: 0;
}
.banner{
    padding: 0px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile{
    width: 500px;
    height: 650px;
    border-radius: 50%;
}
/*main section styles*/

/*about section styles*/
.about {
    padding: 20px 120px 50px 120px;
    background-color: rgb(163, 225, 225);
    border-radius: 10%;
    margin: 50px 80px;
}
